.button {
  border-radius: 4px;
  background-color: $green;
  text-decoration: none;
  color: #fff;
  padding: 10px 36px;
  font-size: 85%;
  font-weight: 500;

  &:hover {
    text-decoration: none;
  }
}
