.buttons {
  overflow: hidden;
}
.button {
  float: left;
  border-radius: 4px;
  background-color: $teal;
  text-decoration: none;
  color: #fff;
  padding: 10px 36px;
  font-size: 85%;
  font-weight: 500;
  border: none;
  outline: none;
  transition: background-color 0.3s;

  &:hover {
    text-decoration: none;
  }
  &.disabled {
    background-color: $grey;
    transition: background-color 0.3s;
  }
}
