/**
 * _color.css
 * variable declarations for app colors
 */

$transparent : transparent;
$black       : #000000;
$dark-grey   : #333333;
$light-grey  : #aaaaaa;
$dim-grey    : #f2f2f2;
$white       : #ffffff;
$blue        : #4badd2;
$turquoise   : #59c7d4;
$green       : #46ca9a;
