/**
 * _color.css
 * variable declarations for app colors
 */

$transparent    : transparent;
$black          : #000000;
$dark-grey      : #333333;
$grey           : #aaaaaa;
$light-grey     : #d8d8d8;
$dim-grey       : #f2f2f2;
$white          : #ffffff;
$blue           : #4badd2;
$turquoise      : #59c7d4;
$pink           : #d373df;
$green          : #46ca9a;
$light-bluegrey : #a5afb1;
$bluegrey       : #3f4956;
$dark-bluegrey  : #363f4a;
$black-blue     : #293038;
