/**
 * _color.css
 * variable declarations for app colors
 */

$transparent    : transparent;
$black          : #000000;
$black-blue     : #293038;
$dark-bluegrey  : #363f4a;
$bluegrey       : #3f4956;
$light-bluegrey : #a2adb0;
$grey           : #cccccc;
$light-grey     : #e6e6e6;
$dim-grey       : #f7f7f7;
$white          : #ffffff;
$blue           : #52b3d8;
$pink           : #d56fe1;
$light-teal     : #b6ebe1;
$teal           : #54d9c1;
