.radio-button {

  background: url("/assets/icons/radio.png") 10px center no-repeat;
  background-size: 15px 15px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;

  &.selected {
    background: url("/assets/icons/radio-filled.png") 10px center no-repeat;
    background-size: 15px 15px;
  }

  &.disabled {
    color: #9fb8d0;
    cursor: not-allowed;
  }

  .radio-label {
    margin-left: 35px;
  }
}
