.radio-button {

  background: url("/assets/icons/radio.png") 10px center no-repeat;
  background-size: 15px 15px;
  cursor: pointer;

  &.readonly {
    background: url("/assets/icons/radio.png") 10px center no-repeat;
    background-size: 15px 15px;
    opacity: 0.5;
    cursor: default;
  }

  &.selected {
    background: url("/assets/icons/radio-filled.png") 10px center no-repeat;
    background-size: 15px 15px;
    opacity: 1.0;
  }

  &.disabled {
    color: #9fb8d0;
    cursor: not-allowed;
  }

  .radio-label {
    margin-left: 35px;
  }
}
