.side-nav {
  display: block;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $bluegray;

  ul {
    list-style: none;
  }
}
