.button.loading {
  padding: 10px 25px 10px 47px;
}
.spinner.submit-spinner {
  top: 18px;
  left: 26px;
  height: auto;
}
.spinner.submit-spinner .spinner-bar {
  background-color: $white;
}
.buttons {
  opacity: 1.0;
}
.hidden {
  opacity: 0.0;
  transition: opacity 1.0s;
}
