.poll-choices {
  border-bottom: 1px solid $light-grey;
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
}
.poll-choice {
  border-top: 1px solid $light-grey;
  padding: 20px 0;

  label {
    display: block;
  }
  input[type=radio] {
    margin-right: 17px;
  }
}
.poll-submission-spinner {
  margin-top: 50px;
}
