/*
 *= require_self
 */

@import 'vendor/normalize';

@import 'shared/_color';
@import 'shared/_typography';
@import 'shared/_buttons';

@import 'components/spinner';
@import 'components/radio-button';

@import 'views/splash';
@import 'views/drawer_layout';
@import 'views/drawer_nav';
@import 'views/no_polls';
@import 'views/title_bar';
@import 'views/poll_submission_form';
@import 'views/poll_choices';


* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

html, body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  zoom: 1;
}

#polly, .app {
  height: 100%;
}
.screenreader-only {
  position: absolute !important;
  top: 0; left: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
